form {
   display: grid;
   row-gap: 30px;
   align-content: space-between;
}

label {
   font-size: 16px;
   font-weight: 500;
   color: #333;
}

input {
   display: block;
   width: 100%;
   box-sizing: border-box;
   padding: 12px 5px 8px;
   border: 0;
   border-bottom: solid 2px #ccc;
   color: #333;
   font-family: "Roboto";
   font-size: 16px;
   font-weight: 500;
   transition: ease-in-out 300ms;
}

input:hover {
   border-color: #999;
   transition: ease-in-out 300ms;
}

input:focus {
   outline: none;
   border-color: #333;
   transition: ease-in-out 300ms;
}

input::placeholder {
   font-weight: 400;
}
